/* App.css */
body, html {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6B46C1; /* Purple background color */
  color: #FFFFFF; /* White text color */
  overflow: hidden;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.countdown-number {
  font-size: 20rem; /* Adjust font size as needed */
  font-weight: bold;
  color: #4C1D95; /* Dark purple text color */
}

.App {
  font-family: sans-serif;
  /* text-align: center; */
}
